<nav clas="nav">

	<a routerLink="/pages/agencies/list" routerLinkActive="active" class="btn btn-primary btn-rounded btn-sm">Agencies</a>
    <a routerLink="/pages/agents/list" routerLinkActive="active" class="btn btn-primary btn-rounded btn-sm">Agents</a>
    <a routerLink="/pages/users/list" routerLinkActive="active" class="btn btn-primary btn-rounded btn-sm">Users</a>
    <a routerLink="/pages/reservations" routerLinkActive="active" class="btn btn-primary btn-rounded btn-sm"> Reservation</a>
</nav>
<p></p>
<router-outlet></router-outlet>